exp2/grid_10_output_files
exp2/net_001_output_files
exp2/rand_20_output_files
exp2/tree_23_output_files


exp1/grid_10_output_files
exp1/net_001_output_files
exp1/rand_20_output_files
exp1/tree_23_output_files
exp1/tree_100_output_files


exp3/grid_10_output_files
exp3/net_001_output_files
exp3/rand_20_output_files
exp3/tree_23_output_files
exp3/tree_100_output_files


exp4/grid_10_output_files
exp4/net_001_output_files
exp4/rand_20_output_files
exp4/tree_23_output_files

reformat